<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.shukaiken.dao.CustRolePowerMapper" >
  <resultMap id="BaseResultMap" type="cn.com.shukaiken.model.CustRolePower" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cust_role_power_level" property="cust_role_power_level" jdbcType="INTEGER" />
    <result column="cust_role_power_name" property="cust_role_power_name" jdbcType="VARCHAR" />
    <result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="is_valid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_role_power_level, cust_role_power_name, create_date, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cust_role_power
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cust_role_power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.shukaiken.model.CustRolePower" >
    insert into t_cust_role_power (id, cust_role_power_level, cust_role_power_name, 
      create_date, is_valid)
    values (#{id,jdbcType=INTEGER}, #{cust_role_power_level,jdbcType=INTEGER}, #{cust_role_power_name,jdbcType=VARCHAR}, 
      #{create_date,jdbcType=TIMESTAMP}, #{is_valid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.shukaiken.model.CustRolePower" >
    insert into t_cust_role_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cust_role_power_level != null" >
        cust_role_power_level,
      </if>
      <if test="cust_role_power_name != null" >
        cust_role_power_name,
      </if>
      <if test="create_date != null" >
        create_date,
      </if>
      <if test="is_valid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cust_role_power_level != null" >
        #{cust_role_power_level,jdbcType=INTEGER},
      </if>
      <if test="cust_role_power_name != null" >
        #{cust_role_power_name,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="is_valid != null" >
        #{is_valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.shukaiken.model.CustRolePower" >
    update t_cust_role_power
    <set >
      <if test="cust_role_power_level != null" >
        cust_role_power_level = #{cust_role_power_level,jdbcType=INTEGER},
      </if>
      <if test="cust_role_power_name != null" >
        cust_role_power_name = #{cust_role_power_name,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        create_date = #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="is_valid != null" >
        is_valid = #{is_valid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.shukaiken.model.CustRolePower" >
    update t_cust_role_power
    set cust_role_power_level = #{cust_role_power_level,jdbcType=INTEGER},
      cust_role_power_name = #{cust_role_power_name,jdbcType=VARCHAR},
      create_date = #{create_date,jdbcType=TIMESTAMP},
      is_valid = #{is_valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>